*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(20, 50px);
    grid-template-columns: repeat(30, 50px);
    gap: 15px;
}

.container1{
    background-color: rgba(67, 55, 55, 0.736);
    grid-area: 1 / 3 / 5 / 11;
    display:grid;
    grid-template-rows: repeat(10, 45px);
    grid-template-columns: repeat(10, 45px);
    
    background-color: rgba(67, 55, 55, 0.736);
    grid-area: 1 / 11 / 5 / 19;
    display: grid;
    grid-template-rows: repeat(10, 45px);
    grid-template-columns: repeat(10, 45px);
    gap: 10px;
    padding: 15px;
}

.container3{
    background-color: rgba(67, 55, 55, 0.736);
    grid-area: 1 / 19 / 5 / 27;
    display: grid;
    grid-template-rows: repeat(10, 45px);
    grid-template-columns: repeat(10, 45px);
    gap: 10px;
    padding: 15px;
}

.container4{
    background-color: rgba(67, 55, 55, 0.736);
    grid-area: 5 / 3 / 9 / 11;
    display: grid;
    grid-template-rows: repeat(10, 45px);
    grid-template-columns: repeat(10, 45px);
    gap: 10px;
    padding: 15px;
}

.container5{
    background-color: rgba(67, 55, 55, 0.736);
    grid-area: 5 / 11 / 9 / 19;
    display: grid;
    grid-template-rows: repeat(10, 70px);
    grid-template-columns: repeat(10, 72px);
    gap: 10px;
    padding: 15px;
    padding-top: 5px;
}

.container6{
    background-color: rgba(67, 55, 55, 0.736);
    grid-area: 5 / 19 / 9 / 27;
    display: grid;
    grid-template-rows: repeat(10, 35px);
    grid-template-columns: repeat(10, 45px);
    gap: 10px;
    padding: 15px;
}

.container7{
    background-color: rgba(67, 55, 55, 0.736);
    grid-area: 9 / 3 / 13 / 11  ;
    display: grid;
    grid-template-rows: repeat(10, 45px);
    grid-template-columns: repeat(10, 45px);
    gap: 10px;
    padding: 15px;
}

.container8{
    background-color: rgba(67, 55, 55, 0.736);
    grid-area: 9 / 11 / 13 / 19;
    display: grid;
    grid-template-rows: repeat(10, 63px);
    grid-template-columns: repeat(10, 88px);
    gap: 10px;
    padding: 15px;c
}

.container9{
    background-color: rgba(67, 55, 55, 0.736);
    grid-area: 9 / 19 / 13 / 27;
    display: grid;
    grid-template-rows: repeat(10, 65px);
    grid-template-columns: repeat(10, 45px);
    gap: 10px;
    padding: 15px;
}

.cont1item1{
    background-color: red;
    grid-area: 1 / 1 / 3 / 4;
}

.cont1item2{
       background-color: orange;
       grid-area: 1 / 4 / 3 / 7;
}

.cont1item3{
    background-color: rgba(250, 183, 58, 0.875);
    grid-area: 1 / 7 / 3 / 10;
}

.cont1item4{
    background-color: rgba(51, 135, 107, 0.895);
    grid-area: 3 / 1 / 5 / 4;
}

.cont1item5{
    background-color: rgb(61, 173, 135);
    grid-area: 3 / 4 / 5 / 7;
}

.cont1item6{
    background-color: rgb(84, 219, 174);
    grid-area: 3 / 7 / 5 / 10;
}

.cont4item1{
    background-color: orange;
    grid-area: 1 / 1 / 2 / 5;
}

.cont4item2{
    background-color: red;
    grid-area: 1 / 5 / 2 / 10;
}

.cont4item3{
    background-color: rgba(51, 135, 107, 0.895);
    grid-area: 2 / 1 / 4 / 4;
}

.cont4item4{
    background-color: rgb(61, 173, 135);
    grid-area: 2 / 4 / 4 / 10;
}

.cont4item5{
    background-color: orange;
    grid-area: 4 / 1 / 5/ 10;
}

.cont7item1{
    background-color: orange;
    grid-area: 1 / 1 / 2 / 5;
}

.cont7item2{
    background-color: rgb(84, 219, 174);
    grid-area: 1 / 5 / 2 / 10;
}

.cont7item3{
    background-color: red;
    grid-area: 2 / 1 / 5 / 5;
}

.cont7item4{
    background-color: rgba(51, 135, 107, 0.895);
    grid-area: 2 / 5 / 5 / 10;
}

.cont2item1{
    background-color: red;
    grid-area: 1 / 1 / 3 / 7;
}

.cont2item2{
    background-color: orange;
    grid-area: 1 / 7 / 5 / 10;
}

.cont2item3{
    background-color: rgba(51, 135, 107, 0.895);
    grid-area: 3 / 1 / 5 / 4;
}

.cont2item4{
    background-color: rgb(61, 173, 135);
    grid-area: 3 / 4 / 5 / 7;
}

.cont3item1{
    background-color: orange;
    grid-area: 1 / 1 / 2 / 10;
}

.cont3item2{
    background-color: rgba(51, 135, 107, 0.895);
    grid-area: 2 / 1 / 4 / 4;
}

.cont3item3{
    background-color: red;
    grid-area: 2 / 4 / 4 / 10;
}

.cont3item4{
    background-color: rgb(61, 173, 135);
    grid-area: 4 / 1 / 5 / 10;
}

.cont5item1{
    background-color: rgba(51, 135, 107, 0.895);
    grid-area: 1 / 1 / 2 / 2;
}

.cont5item2{
    background-color: orange;
    grid-area: 1/ 2 / 2 / 3;
}

.cont5item3{
    background-color: rgb(61, 173, 135);
    grid-area: 1 / 3 / 2 / 4;
}

.cont5item4{
    background-color: red;
    grid-area: 1 / 4 / 2 / 5;
}

.cont5item5{
    background-color: rgb(61, 173, 135);
    grid-area: 1 / 5 / 2 / 6;
}

.cont5item6{
    background-color: orange;
    grid-area: 1 / 6 / 2 / 7;
}

.cont5item7{
    background-color: rgba(51, 135, 107, 0.895);
    grid-area: 2 / 1 / 3 / 2;
}

.cont5item8{
    background-color: orange;
    grid-area: 2 / 2 / 3 / 3;
}

.cont5item9{
    background-color: rgb(61, 173, 135);
    grid-area: 2 / 3 / 3 / 4;
}

.cont5item10{
    background-color: orange;
    grid-area: 2 / 4 / 3 / 5;
}

.cont5item11{
    background-color: red;
    grid-area: 2 / 5 / 3 / 6;
}

.cont5item12{
    background-color: rgba(51, 135, 107, 0.895);
    grid-area: 2 / 6 / 3 / 7;
}

.cont5item13{
    background-color: red;
    grid-area: 3 / 1 / 4 / 2;
}

.cont5item14{
    background-color: rgb(61, 173, 135);
    grid-area: 3 / 2 / 4 / 3;
}

.cont5item15{
    background-color: orange;
    grid-area: 3 / 3 / 4 / 4;
}

.cont5item16{
    background-color: rgba(51, 135, 107, 0.895);
    grid-area: 3 / 4 / 4 / 5;
}

.cont5item17{
    background-color: rgb(61, 173, 135);
    grid-area: 3 / 5 / 4 / 6;
}

.cont5item18{
    background-color: orange;
    grid-area: 3 / 6 / 4 / 7;
}

.cont6item1{
    background-color: red;
    grid-area: 1 / 1 / 2 / 6;
}

.cont6item2{
    background-color: rgba(51, 135, 107, 0.895);
    grid-area: 1 / 6 / 2 / 8;
}

.cont6item3{
    background-color: orange;
    grid-area: 1 / 8 / 2 / 10;
}

.cont6item4{
    background-color: orange;
    grid-area: 2 / 1 / 3 / 3;
}

.cont6item5{
    background-color: rgba(51, 135, 107, 0.895);
    grid-area: 2 / 3 / 3 / 6;
}

.cont6item6{
    background-color: rgb(61, 173, 135);
    grid-area: 2 / 6 / 3 / 8;
}

.cont6item7{
    background-color: orange;
    grid-area: 3 / 1 / 5 / 6;
}

.cont6item8{
    background-color: rgb(61, 173, 135);
    grid-area: 3 / 6 / 4 / 8;
}

.cont6item9{
    background-color: red;
    grid-area: 3 / 8 / 4 / 10;
}

.cont6item10{
    background-color: rgba(51, 135, 107, 0.895);
    grid-area: 4 / 6 / 5 / 8;
}

.cont6item11{
    background-color: rgb(61, 173, 135);
    grid-area: 5 / 1 / 6 / 8;
}

.cont6item12{
    background-color: orange;
    grid-area: 5 / 8 / 6 / 10;
}

.cont9item1{
    background-color: orange;
    grid-area: 1 / 1 / 2 / 10;
}

.cont9item2{
    background-color: rgba(51, 135, 107, 0.895);
    grid-area: 2 / 1 / 4 / 4;
}

.cont9item3{
    background-color: rgb(61, 173, 135);
    grid-area:  2 / 4 / 3 / 10;
}

.cont9item4{
    background-color: red;
    grid-area: 3 / 4 / 4 / 7;
}

.cont9item5{
    background-color: orange;
    grid-area: 3 / 7 / 4 / 10;
}

.cont8item1{
    background-color : red;
    grid-area: 1 / 1 / 2 / 2;
}

.cont8item2{
    background-color : orange;
    grid-area: 1 / 2 / 2 / 3;
}

.cont8item3{
    background-color : rgb(61, 173, 135);
    grid-area: 1 / 3 / 2 / 4;
}

.cont8item4{
    background-color : rgba(51, 135, 107, 0.895);
    grid-area: 1 / 4 / 2 / 5;
}

.cont8item5{
    background-color : rgba(51, 135, 107, 0.895);
    grid-area: 1 / 5 / 2 / 6;
}

.cont8item6{
    background-color : orange;
    grid-area: 2 / 1 / 3 / 2;
}

.cont8item7{
    background-color : red;
    grid-area: 2 / 2 / 3 / 3;
}

.cont8item8{
    background-color : orange;
    grid-area: 2 / 3 / 3 / 6;
}

.cont8item9{
    background-color : rgb(61, 173, 135);
    grid-area: 3 / 1 / 4 / 6;
}